<footer>

  <h2>Contact</h2>
  <div class="Contact">
    <div class="Contact-child">
      <h3>Contraflexure:</h3>
      <p>Mr.M.Thiruvannamalai, AP(Sr.G.)/CIV:</p>
      <p>thiruvannamalaim.apce@mepcoeng.ac.in</p>
      <p>8124089864</p>
    </div>

    <div class="Contact-child">
      <h3>Zwitterion:</h3>
      <p>Dr.A.Allwyn Clarence Asis, ASP/EEE:</p>
      <p>iamallwyn@mepcoeng.ac.in</p>
      <p>9442324535</p>
    </div>

    <div class="Contact-child">
      <h3>Erudition:</h3>
      <p>Mr.J.Dani Reagan Vivek,AP(Sr.G.)/ECE:</p>
      <p>danireagan@mepcoeng.ac.in</p>
      <p>9488068863</p>
    </div>

    <div class="Contact-child">
      <h3>Vipravuha:</h3>
      <p>Dr.J.Maruthu Pandi, ASP/IT:</p>
      <p>maruthupandi@mepcoeng.ac.in</p>
      <p>9080055715</p>
    </div>

    <div class="Contact-child">
      <h3>Sunwins:</h3>
      <p>Mr.D.Jones Joseph Jebaraj:</p>
      <p>djonesjebaraj@mepcoeng.ac.in</p>
      <p>8344283096</p>
    </div>

    <div class="Contact-child">
      <h3>Biologix:</h3>
      <p>Ms.M.Indiraleka,AP(Sr.G.)/BT:</p>
      <p>indiraleka@mepcoeng.ac.in</p>
      <p>7402389414</p>
    </div>

    <div class="Contact-child">
      <h3>Exponents:</h3>
      <p>Dr.B.Karthikeyan ,AP(Sr.G.)/PHY:</p>
      <p>karthikeyanb@mepcoeng.ac.in</p>
      <p>9843566445</p>
    </div>

    <div class="Contact-child">
      <h3>Cossack:</h3>
      <p>Mr.J.Murugachandravel:</p>
      <p>jmuruga@mepcoeng.ac.in</p>
      <p>9791225266</p>
    </div>

	<div class="queries">
    For Feedback / Queries:&nbsp;gyanmitra23@mepcoeng.ac.in
	</div>


  </div>

   <div class="developer">
    Developed by<br>
	<a target="_blank" href="https://github.com/Sujit-Ragav" style="text-decoration:none;color:rgb(85, 141, 232);">M.Sujit Ragav</a>, <a  target="_blank" style="text-decoration:none;color:rgb(85, 141, 232);" href="https://github.com/Prama-karthick">Prama Karthick</a>
  </div>

  <div class="">
    <br>

  </div>
</footer>
