<body>
  <div class="details">
    <div class="welcome">
      <img class="mepcologo logo" src="assets/mepcologocolor.png" alt="College logo">
      <img class="gyanlogo logo" src="assets/Gyanmitra.png" alt="Gyan Mitra logo">
      <h2 id='head1' class='header'>Welcome to</h2>
      <h1 id='head2' class='header'>Gyan Mitra '23</h1>
      <h4 id='head3' class='header'>by</h4>
      <h3 id='head4' class='header'><a id="w3" href="https://www.mepcoeng.ac.in/">Mepco Schlenk Engineering College</a></h3>
      <h4 id="head5" class="header">(An Autonomous Institution)</h4>
      <div class="sets">
        <img class="feb17logo header" src="assets/feb17.png" alt="College logo">
        <p id="and" class="header">and</p>
        <img class="feb18logo header" src="assets/feb18.png" alt="Gyan Mitra logo">
      </div>
    </div>

    <div class="description">
      <h1>A National level Techno Symposium</h1>
      <h2 class="h2-description">A Colloquium of 8 technical domains</h2>
      <!-- <div class="counts">
        <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1MrkMcrXWhnUTjWEPuEbHCyzQ4WdozIJD/view?usp=sharing"><p class="ncounts">27 workshops</p></a>
        <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1zhoEvwwVDF-O3Gx5KvDcYaydL3CSRYFd/view?usp=sharing"><p class="ncounts">100+ events</p></a>
        <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1btjSijgsEZzeMwlnurs5lGavX0U-0luD/view?usp=sharing"><p class="ncounts">14 Paper presentations</p></a>
        <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1o_SGjXD7DJnhOvGgyHrkuUCHKdnqDgbA/view?usp=sharing"><p class="ncounts">Gyan Mitra Poster</p></a>
    </div> -->
    </div>

    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>

  </div>

  <div class="domains">
    <h2 class="boxesh2">Domains</h2>
    <div class="category-container">
    <div id="c1" routerLink="/group/group1" class="category"><p class="default-cardtext">Contraflexure</p><p class="hover-cardtext">Contraflexure <br>by Civil/Arch</p></div>
    <div id="c2" routerLink="/group/group2" class="category"><p class="default-cardtext">Zwitterion</p><p class="hover-cardtext">Zwitterion <br>by EEE</p></div>
    <div id="c3" routerLink="/group/group3" class="category"><p class="default-cardtext">Erudition</p><p class="hover-cardtext">Erudition <br>by ECE/BME</p></div>
    <div id="c4" routerLink="/group/group4" class="category"><p class="default-cardtext">Vipravuha</p><p class="hover-cardtext">Vipravuha <br>by CSE/IT/AIDS</p></div>
    <div id="c5" routerLink="/group/group5" class="category"><p class="default-cardtext">Sunwins</p><p class="hover-cardtext">Sunwins <br>by Mech</p></div>
    <br>
    <div id="c6" routerLink="/group/group6" class="category"><p class="default-cardtext">Biologix</p><p class="hover-cardtext">Biologix <br>by BioTech</p></div>
    <div id="c7" routerLink="/group/group7" class="category"><p class="default-cardtext">Exponents</p><p class="hover-cardtext">Exponents <br>by Maths</p></div>
    <div id="c8" routerLink="/group/group8" class="category"><p class="default-cardtext">Cossack</p><p class="hover-cardtext">Cossack <br>by MCA</p></div>
    </div>
    <br>
    <h4 style="display: inline;">Nearest College Railway Station:  </h4><p style="display: inline;">Virudhunagar,Thiruthangal</p><br>
    <h4 style="display: inline;">Nearest College Bus Stand:  </h4><p style="display: inline;">Virudhunagar,Thiruthangal</p><br>
  </div>


  <div class="Rules">
    <h2>About Gyan Mitra</h2>
    <div class="Rules-text">
    <p>
      GYAN MITRA is a Two Days National Level Techno Symposium, which is a colloquium of 8 Technical domains including Bio-Tech, Civil, Computer Science, ECE, EEE, Mechanical, MCA and Maths & Science.
    </p>
    <p><br>
      It is hosted by 25 Student’s Professional Societies like The Institution of Engineers (India) of all branches, Institute of Electrical and Electronics Engineers (IEEE), Indian Society for Technical Education (ISTE), Institution of Electronics and Telecommunication Engineers (IETE), International Association of Civil Engineering Students (IACES). CSI Students Chapter, Society of Automobile Engineer, Biotech Association, MCA Association, Science Forum and Apti-Riders Club.  It also comprises of Microsoft Campus Club, Google Students Club, ASME, Renewable Energy Club, Robotics Club and Maths Club. The symposium is organized continuously from 2015 onwards which aims to enhance the technical and leadership skills of the students.
    </p>
    <p><br>
      GYAN MITRA ’23 is a 7th year in this series, which has 27 Workshops on Emerging Technologies, Paper Presentations in 14 Parallel Sessions and 116 Technical Events. The symposium provides avenue for students to present their latest innovations, findings, and trends in advanced technology, tools, techniques and strategies relevant to the Engineering fraternity.	We delighted to invite all intellectually curious minds to participate in this GYAN MITRA '23.
    </p>
    </div>
  </div>
  <div class="logos">
    <h2 class="boxesh2">Clubs / Co-Curricular Forums</h2>
    <div class="imgs">
    <img src="assets/IGBC.png" alt="logo">
    <img src="assets/APTI.jpg" alt="logo">
    <img src="assets/Recycle-Logo-on-white.png" alt="logo">
    <img src="assets/Science Forum Logo.png" alt="logo">
    <img src="assets/WhatsApp Image 2023-01-03 at 5.46.37 PM.jpeg" alt="logo">
    <img src="assets/SAEINDIA.png" alt="logo">
    <img src="assets/Maths Club logo.png" alt="logo">
    <img src="assets/MCC LOGO.png" alt="logo">
    <img src="assets/ISTE logo.png" alt="logo">
    <img src="assets/Institution_of_Engineers_(India)_Logo.svg.png" alt="logo">
    <img src="assets/IETE-HOD-ECE.jpg.png" alt="logo">
    <img src="assets/IEEE.png" alt="logo">
    <img src="assets/CSI.png" alt="logo">
    <img src="assets/GSC.png" alt="logo">
    <img src="assets/IACES.png" alt="logo">
    <!-- <img src="assets/eee forum.png" alt="logo"> -->
    <img src="assets/cossack_logo.png" alt="logo">
    <img src="assets/American_Society_of_Mechanical_Engineers_logo.svg.png" alt="logo">
    <img src="assets/520-5202305_computer-science-club-logo-hd-png-download.png" alt="logo">
    <img src="assets/Robotics logo (1).jpg" alt="logo">
  </div>
  </div>

</body>
